---
import '../styles/global.css';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>Salty Peak Solutions - Protecting First Responders</title>
		<meta name="description" content="We provide complete clean air solutions to fire departments and EMS agencies. MagneGrip exhaust removal systems eliminate 100% of cancer-causing diesel exhaust." />
	</head>
	<body>
		<slot />
	</body>
</html>
